.table{
    margin-top: 20px;
}
.table .button{
    padding: 0rem 0.5rem;
}

.rate{
    color: greenyellow !important;
}
.non_rate{
    color: red !important;
}

.modal{
    background-color: rgb(29,42,59);
    color: white;
}